.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 3em;
  font-weight: 700;
  line-height: 1;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  padding: 12px 24px; 
  background-color: blue;
  color: white;
  font-size: var(--font-size-base);
}
