h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-display);
    font-weight: var(--font-weight-bold);
    color: var(--color-text);
}

h1 {
    font-size: var(--font-size-lg);
}

h2 {
    font-size: var(--font-size-md);
}

h3 {
    font-size: var(--font-size-base)
}

p {
    font-family: var(--font-family-text);
    font-size: var(--font-size-base);
    line-height: 1.5;
    color: var(--color-text);
}

ul, li {
    font-family: var(--font-family-text);
    font-size: var(--font-size-base);
    color: var(--color-text);
}